<mat-toolbar color="primary" class="header">
    <span>Conversor de Moedas</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/Home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/ListarSimbolos" routerLinkActive="active">Listar Símbolos</a>
    <a mat-button routerLink="/ConverterMoedas" routerLinkActive="active">Converter Moedas</a>
    <a mat-button routerLink="/ConverterRealParaDolar" routerLinkActive="active">Converter Real Para Dolar</a>
</mat-toolbar>