<mat-toolbar  class="header">
     <div><span class="text-light">Conversor de Moedas</span></div>
    <span class="spacer"></span>
    <a mat-button routerLink="/Home" routerLinkActive="active" class="navbar ">Home</a>
    <a mat-button routerLink="/ListarSimbolos" routerLinkActive="active" class="navbar">Listar Símbolos</a>
    <a mat-button routerLink="/ConverterMoedas" routerLinkActive="active" class="navbar">Converter Moedas</a>
    <a mat-button routerLink="/ConverterRealParaDolar" routerLinkActive="active" class="navbar">Converter Real Para Dolar</a>
</mat-toolbar>