<div id="conteiner" class="bg-light d-flex justify-content-center align-items-center flex-column">
  <div class="text text-center"><h1>Converter Moeda</h1></div>
     <div class="content d-flex justify-content-center">
        <div>
         <mat-form-field>
            <mat-label>Moeda Origem</mat-label>
            <select matNativeControl required>
              <option value="volvo">Moeda Origem</option>
            </select>
          </mat-form-field>
        </div>
        <div>
         <mat-form-field>
            <mat-label>Cars</mat-label>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
            </select>
          </mat-form-field>
        </div>
        <div>
         <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="" value="Sushi">
          </mat-form-field>
        </div>
     </div>
     <div class="button">
        
     </div>
</div>
