<div class="main d-flex flex-row justify-content-around align-items-center">
  <div class="main-content d-flex justify-content-center">
    <div class="content d-flex flex-column justify-content-start text-white text-center align-items-start">
      <h1 class="text-main-content">Conversor de <span>Moedas</span></h1>
      <p>Projeto de conversão de moedas para exemplificar o consumo de APIs</p>
      <a mat-button routerLink="/ConverterMoedas" routerLinkActive="active" class="navbar">Ultiliza a API</a>
      <button type="button" class="btn btn-light text-white">Comece a Utilizar</button>
    </div>
    <div class="img-content">
      <img
        src="https://raw.githubusercontent.com/mateusfrazz/landing-page-newslatter/refs/heads/main/images/roxo.png"
        alt=""
      />
    </div>
  </div>
</div>
